
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
}

body{
    display: flex;
}

:root{
    --svg-filter: brightness(0) saturate(100%) invert(48%) sepia(37%) saturate(671%) hue-rotate(205deg) brightness(90%) contrast(95%);
    --svg-filter-white: invert(1) sepia(0) saturate(0) brightness(100) ;
    --svg-hex-color: #9197B3;
    --version-text-color: #838383;
    --pfp-text-color: #757575;
    --btn-on-hover-color: #5932EA;
    --btn-text-on-hover-color: #FFFFFF;
    --green-text-color: #16C098;
    --search-bg-color: #F9FBFF;
    --btn-bg-color: #F5F5F5;
    --search-text-color: #B5B7C0;
    --table-text-color: #292D32;
    --line-color: #EEEEEE;
    --active-bg-color: rgba(22, 192, 152, 0.38);
    --active-text-color: #008767;
    --inactive-bg-color: #FFC5C5;
    --inactive-text-color: #DF0404;
}
